awesome/src/main/java/com/simi/awesome/schema/common/field_base.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="https://awesome/commons/field"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="https://awesome/commons/field">
	<xsd:complexType name="field">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Constant-Value" type="constant"></xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="constant">
		<xsd:sequence>
			<xsd:element type="xsd:string" name="value"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>